@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body {
    font-family: 'poppisins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 130px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #8dc848;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li  {
      position: relative;
      float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #9BCE21;
}

#menu {
     display: none;
}

.menu-icono {
    width: 25px;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: #9BCE21;
    border-radius: 50%;
    padding: 5px  10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

span {
    color: #9BCE21;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header.txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #515557;
    margin-bottom: 35px;
}

.botons {
    display: flex;
}
.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #21a6ce;
    margin-right: 20px;
    color: #f6fafb;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    height: 550px;
}

.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b1 {
    background-color: #e0f7f5;
}
.b2 {
    background-color: #cca6a5;
}
.b3 {
    background-color: #8a5931;
}

.oferts-txt {
    flex-basis: 50%;
}

.oferts-txt h3 {
    color: #ffffff;
    font-size: 20px;
}

.oferts-txt a {
    color: #c7c6c5;
}

.oferts-img {
    flex-basis: 50%;
}

.products {
    padding: 0 0 50px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #111419;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #fd3e03;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0,0, 0, 0.2);
    background-color: #eaec78;
    display: none;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8){
    display: inline-block;
}

.box img {
    height: 200px;
}

.product-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 25px;
    color:#4ea3ce
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color:#ff9100 !important;
}

.btn-2, .btn-3 {
    background-color: #ebe981;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(0,0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover,.btn-1:hover{
    background-color: #fdc304;
}

.btn-3 {
    margin:0 ;
    padding: 8px 25px;
    border-radius: 5px;
}

.testimonial {
    padding: 100px 0;
    text-align: center;
}

.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1 {
    flex-basis:calc(50% -20px);
    padding: 50px;
    text-align: left;
    background-color: #f6fafb;
    border-top: 5px solid #80ac19;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 img {
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p {
    color: #515557;
    margin-bottom: 25px;
}

.footer {
    background-color: #13462E;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #3c3c3d;
    display: block;
    margin-bottom: 10px;
}


.link a:hover {
    color: #9BCE21;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff9100;
        display: none;
    }

.menu-navbar ul li {
    width: 100%;
}

#menu:checked ~ .navbar {
    display: initial;
}

.logo {
    display: none;
}
.menu.navbar ul li a:hover {
    color:  #ffffff;
}

.submenu:hover #carrito{
width: 100%;
}

.header-content {
    padding:50px 0 0 0 ;
}

.header-content {
    padding: 30px;
    flex-direction: column;
    text-align: center;
}

.header-txt  {
   margin-right: 0;
}

.butons {
    justify-content: center;
}

.btn-1 {
    margin-bottom: 0;
}

.header-img {
    display: none;
}

.oferts {
    padding: 30px;
    flex-direction: column;
}

.oferts-1 {
    margin-bottom: 15px;
}

.products {
    padding: 0 30px 30px 30px;
}

.testimonial {
    padding: 30px;
}

.testimonial-content {
    margin-bottom: 20px;
    flex-direction: column;
}

.testimonial-1{
    padding: 25px;
    margin-bottom: 25px;
}

.footer {
    padding: 30px;
}

.footer-content {
    flex-direction: column;
    text-align: center;
}



}