.btn-1 {
    display: inline-block;
    padding: 11px 45px;
    background-color: #ff8800;
    color: #050505;
    border-radius: 25px;
    font-size: 22px;
}

.btn-1:hover {
    background-color: #dde025;  
}

h2 {
    font-size: 70px;
    color: #b7975b;
    margin-bottom: 15px; 
}